/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    RAW HTML TAG FORMATTING
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
body{
    /*viewport units:
    vh (viewport height),
    vw (viewport width),
    vmin (smallest between vh and vw)
    */
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 4vmin;
    letter-spacing: .5vmin;

    top: 10px;
}

table{
    border: .01px solid black;
}



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    DIV IDS
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

#foundation{
    margin: 2vmin;
    border-radius: 1vmin;
    border: 0.1 solid black;
    background-color: darkgray;

}

#menu{
    display: flex;
    align-content: flex-start;
    width: 80%;
}

#menu>button{
    margin: 5px;
}

#status{
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
}

#mine_count{
    grid-column-start: 1;
    text-align: right;
}

#smiley_face{
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: center;
}

#timer{
    grid-column-start: 3;
    align-self: right; 
}

#board{
    border: 1px solid black;
    margin: 10px;
}

#footer{
    display: flex;
    align-items: center;
    width: 100px;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
}

#column_headers{
    grid-column-start: 3;
    grid-column-end: 5;
}


/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
    CLASS FORMATS
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.adj_num{
    text-align: center;
    font-size: x-large;
    font-weight: 800;
}


.counter{
    background-color: black;
    color: red;
    width: 30px;
}

.button_info{
    background-color: lightgray;
    border: 1px solid black;
    margin: 2px;
    visibility: hidden;
}

.button_info tr > th{
    text-align: left;
}

.button_info tr > td >input{
    width: 40px;
}

.button_content{
    padding: 5px;
    align-items: left;
}

.header{
    display: flex;
    background-color: blue;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.ex_out{
    display: flex;
    background-color: blue;
    color: white;
}

.tile{
    border: .01px solid black;
    width: 40px;
    height: 40px;
}

.tile > img{
    display: flex;
    width: 40px;
    height: 40px;
}
